html {
    overflow: hidden;
}

#gameDiv {
    text-align: center;
    margin: 0 auto;
}

canvas {
    
}

.options {
    position: fixed;
    top: 0;
    left: 0;
}

#gamepad {
    text-align: center;
    margin-top: -10em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.virtualKey {
    width: 5em;
    height: 5em;
    opacity: 0.6;
}

.topGamepad {
    height: 50%;
}

.bottomGamepad {
    height: 50%;
}

body {
    background-color: lightgray;
}

#extra {
    position: absolute;
    left: 1em;
    top: 1em;

    display: flex;
    flex-direction: column;
    
    opacity: 0.1;
    transition: 0.12s;
    width: 10%;
}

#extra:hover {
    opacity: 1;
}
